<mat-card class="sculpture-list-wrapper">
    <div class="wrapper">
        <mat-card-title>List of sculptures</mat-card-title>

        <button class="create-button" mat-raised-button color="primary" [routerLink]="['/sculptures/new']">
            Create new sculpture
        </button>
    </div>

    <ng-container *ngIf="state$ | async as state">
        <div *ngIf="state.type === 'loading'">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="state.type === 'error'">
            ERROR: {{state.message}}
        </div>
        <div *ngIf="state.type === 'data'">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let sculpture of state.data">
                    <a [routerLink]="['/sculptures', sculpture.id]">
                        {{sculpture.name}}
                    </a>
                </mat-list-item>
            </mat-list>
        </div>
    </ng-container>



</mat-card>
