<mat-card class="order-form-wrapper">
    <mat-toolbar *ngIf="orderId; else create_order" color="primary">
        Edit order
    </mat-toolbar>
    <ng-template #create_order>
        <mat-toolbar color="primary">
            Create order
        </mat-toolbar>
    </ng-template>

    <ng-container *ngIf="state$ | async as state">
        <div *ngIf="state.type === 'loading'">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="(state.type === 'data')">
            <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Buyer name:</mat-label>
                    <input matInput formControlName="buyerName" id="buyerName" name="buyerName" type="text"
                        placeholder="John Doe" />
                    <mat-error *ngIf="orderForm.get('buyerName')?.invalid">
                        Required field
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>Address:</mat-label>
                    <input matInput formControlName="buyerDeliveryAddress" id="buyerDeliveryAddress"
                        name="buyerDeliveryAddress" type="text" />
                    <mat-error *ngIf="orderForm.get('buyerDeliveryAddress')?.invalid">
                        Required field
                    </mat-error>
                </mat-form-field>
                <br />
                <sculpture-picker [error]="submitted && orderForm.get('configuredSculptures')?.errors?.['configuredSculpturesInvalid'].message" formControlName="configuredSculptures"></sculpture-picker>
                <br />
                <div>
                    <button mat-button mat-raised-button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div *ngIf="state.type === 'error'">
            ERROR: {{state.message}}
        </div>
    </ng-container>
    <!-- <mat-spinner *ngIf="isLoading; else form"></mat-spinner>
    <ng-template #form>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Buyer name:</mat-label>
                <input matInput formControlName="buyerName" id="buyerName" name="buyerName" type="text"
                    placeholder="John Doe" />
                <mat-error *ngIf="orderForm.get('buyerName')?.invalid">
                    Required field
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Address:</mat-label>
                <input matInput formControlName="buyerDeliveryAddress" id="buyerDeliveryAddress"
                    name="buyerDeliveryAddress" type="text" />
                <mat-error *ngIf="orderForm.get('buyerDeliveryAddress')?.invalid">
                    Required field
                </mat-error>
            </mat-form-field>
            <br />
            <sculpture-picker [error]="submitted && orderForm.get('configuredSculptures')?.errors?.['configuredSculpturesInvalid'].message" formControlName="configuredSculptures"></sculpture-picker>
            <br />
            <div>
                <button mat-button mat-raised-button type="submit">Submit</button>
            </div>
        </form>
    </ng-template> -->
</mat-card>