<mat-card class="order-form-wrapper">
    <mat-toolbar *ngIf="orderId; else create_order" color="primary">
        Edit order
    </mat-toolbar>
    <ng-template #create_order>
        <mat-toolbar color="primary">
            Create order
        </mat-toolbar>
    </ng-template>

    <mat-spinner *ngIf="isLoading; else form"></mat-spinner>
    <ng-template #form>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Buyer name:</mat-label>
                <input matInput formControlName="buyerName" id="buyerName" name="buyerName" type="text"
                    placeholder="John Doe" />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Address:</mat-label>
                <input matInput formControlName="buyerDeliveryAddress" id="buyerDeliveryAddress"
                    name="buyerDeliveryAddress" type="text" />
            </mat-form-field>
            <br />
            <sculpture-picker formControlName="configuredSculptures"></sculpture-picker>
            <br />
            <div>
                <button mat-button mat-raised-button type="submit">Submit</button>
            </div>
        </form>
    </ng-template>
</mat-card>